
<section style="padding:30px 0;" class="bg-dark hidden-xs">
    <div class="container" style="padding:0;background:transparent">
    <div class="row">
        <div class="col-lg-6 text-center">
            <h6 class="wide-space text-center">ADVERTISEMENT</h6>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> <!-- block-adstrip2 --> <ins class="adsbygoogle"      style="display:inline-block;width:336px;height:280px"      data-ad-client="ca-pub-3391236677062948"      data-ad-slot="5316028911"></ins> <script> (adsbygoogle = window.adsbygoogle || []).push({}); </script>
        </div>
        <div class="col-lg-6 text-center">
            <h6 class="wide-space text-center">ADVERTISEMENT</h6>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> <!-- block-adstrip1 --> <ins class="adsbygoogle"      style="display:inline-block;width:336px;height:280px"      data-ad-client="ca-pub-3391236677062948"      data-ad-slot="2362562517"></ins> <script> (adsbygoogle = window.adsbygoogle || []).push({}); </script>
        </div>
    </div>
    </div>
</section>
