
<section style="padding:30px 0;" class="bg-dark hidden-xs">
    <div class="container" style="padding:0;background:transparent">
    <div class="row text-center">
        <h1 style="margin-bottom:30px">Are you ready?</h1>
        <div style="margin-bottom:20px" class="btn-group">
            <a class="btn-lg btn btn-ghost btn-white" href="/docs/start">Get Started</a>
            <a class="btn-lg btn btn-ghost btn-white" href="/pro">Learn about Pro</a>
        </div>
    </div>
    </div>
</section>
