<section class="bg-primary" id="twopaths">
    <div class="container text-center">
        <h1 style="margin:0">Two Kinds of Shinobi</h1>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-primary">Shinobi CE<br><small>Community Edition</small></h2>
                <img style="height:150px" src="/libs/assets/cloud-server.png">
                <p class="text-faded">
                    For small teams and personal use in a home or small office. This version is updated only for major changes or bug fixes.
                </p>
            </div>
            <div class="col-md-6">
                <h2 class="text-primary">Shinobi Pro<br><small>Professional Edition</small></h2>
                <img style="height:150px" src="/libs/assets/laptop-rocket.png">
                <p class="text-faded">
                    For businesses that require using Shinobi in a commercial location and would like developer support and regular updates.
                </p>
            </div>
        </div>
        <div class="btn-group">
            <a href="/pro" class="btn btn-primary btn-xl">What is Pro and Why?</a>
        </div>
    </div>
</section>