<% config.Title='Pro'; %>
<% include blocks/header.ejs %>
<% include blocks/subheader.ejs %>
<section id="learn6">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="margin-top-0 text-primary">Shinobi Pro</h1>
                <p>Shinobi Pro is for Business and Enterprise Installations</p>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 text-center">
                <h2 class="margin-top-0 text-primary">Updates</h2>
                <br>
                <p class="large">Updates will be as it was before the introduction of Pro and CE. Shinobi Pro will get regular updates to the <code>dev</code> branch. When stable it will be merged to <code>master</code>. If the update is critical it will be merged to CE.</p>
                <div class="btn-group">
                    <a href="/articles/2017-08-03-shinobi-ce-and-shinobi-pro" class="btn btn-primary btn-xl">Detailed Article</a>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <img style="width:100%" src="/libs/assets/globe-shadow.png">
            </div>
        </div>
    </div>
</section>
<section id="learn4">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center pull-right">
                <h2 class="margin-top-0 text-primary">Support</h2>
                <br>
                <p class="large">Support for Shinobi is provided only to Pro subscribers. Once you have an active subscription you will be emailed an invite for the Shinobi Pro community chat. This community is separate from the Shinobi CE chat.</p>
                <div class="btn-group">
                    <a href="//billing.place/cart/shinobi-pro/" class="btn btn-primary btn-xl">Subscribe for Pro</a>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <iframe src="https://discordapp.com/widget?id=264819784292499457&theme=dark" width="350" height="350" allowtransparency="true" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</section>
<section class="bg-primary" id="learn5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <h2 class="margin-top-0 text-primary">Licensing</h2>
                <br>
                <p class="large">Shinobi Pro is licensed under Creative Commons 4.0. This means that you will be required to have a subscription to use Shinobi Pro in commercial locations.</p>
                <div class="btn-group">
                    <a href="//billing.place/cart/shinobi-pro/" class="btn btn-primary btn-xl">Order Now</a>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <img style="max-width:250px;width:100%" src="/libs/assets/handshake.png">
            </div>
        </div>
    </div>
</section>
<section id="learn6">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 text-center pull-right">
                <h2 class="margin-top-0 text-primary">Shinobi Pro without a Subscription</h2>
                <br>
                <p class="large">You can use Shinobi Pro for personal use without a license in non commercial locations, for educational, or simple testing. Schools, Colleges, and Universities do not require a subscription.</p>
                <div class="btn-group">
                    <a href="/articles/2017-08-03-shinobi-ce-and-shinobi-pro" class="btn btn-primary btn-xl">Learn More</a>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <img style="max-width:250px;width:100%" src="/libs/assets/laptop-rocket.png">
            </div>
        </div>
    </div>
</section>
<section class="bg-primary" id="learn6">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 text-center">
                <h2 class="margin-top-0 text-primary">What is commercial use or a commercial location?</h2>
                <br>
                <p class="large">Locations that engage in the buying and selling of goods and services. Using Shinobi in an application or scheme that results in economical gain - Example : making an isolated account and charging for it</p>
                <div class="btn-group">
                    <a href="/articles/2017-08-03-shinobi-ce-and-shinobi-pro" class="btn btn-primary btn-xl">More Details</a>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <img style="max-width:250px;width:100%" src="/libs/assets/engineer.png">
            </div>
        </div>
    </div>
</section>
<% include blocks/getstarted.ejs %>
<% include blocks/footer.ejs %>