<% var Title='Donate'; %>
<% include blocks/header.ejs %>
<body class="body-green">
    <div class="page-wrapper">
        <!-- ******Header****** -->
        <header id="header" class="header">
            <div class="container">
                <% include blocks/branding.ejs %>
            </div><!--//container-->
        </header><!--//header-->
        <div class="doc-wrapper">
            <div class="container">
                <div id="doc-header" class="doc-header text-center">
                    <h1 class="doc-title"><span aria-hidden="true" class="icon icon_gift"></span> <%= Title %></h1>
                </div><!--//doc-header-->
                <div class="doc-body">
                        <div class="content-inner">
                            <section id="chartjs" class="doc-section">
                                <div class="jumbotron text-center">
                                <p style="margin:0"><b style="font-size:120%">Big</b> Thank You to those already supporting! With you more time and effort can be put into Shinobi! <i class="fa fa-smile-o"></i></p>
                                </div>
                                <div class="jumbotron">
                                    <blockquote>
                                        <% include ../pages/blocks/donations.ejs %>
                                        Ordering Paid Support, Shinobi Pro, Shinobi Metal or anything from <a href="//billing.place">here</a> will help Shinobi become better. <i class="fa fa-smile-o"></i><br><br>
                                        A large chunk of the earnings I give to my family. People who spend their life for me <b>and through Shinobi all of you as well</b>. Please help me make the rest of my family's life comfortable the same way they are making mine and yours comfortable. <b>Without them I would not be here to give you Shinobi.</b><br><br>
                                        <small>Moe Alam</small><br>
                                        <a class="btn btn-success btn-lg btn-ghost" href="/support">Support Packages</a>
                                    </blockquote>
                                    <blockquote>
                                        <p><b>Can't do a monthly contribution? That's fine! Any amount helps!</b></p>
                                        <div class="btn-group">
                                            <a id="customButton" class="btn btn-success btn-lg btn-ghost"><i class="fa fa-cc-stripe"></i> Donate $20 CAD</a> <a class="btn btn-success btn-lg btn-ghost" href="https://www.paypal.me/ShinobiCCTV"><i class="fa fa-paypal"></i> Donate by Paypal</a>
                                        </div>
                                    </blockquote>
                                    <script src="https://checkout.stripe.com/checkout.js"></script>
                                    <script>
                                    var handler = StripeCheckout.configure({
                                      key: 'pk_live_SjzKuxKHK0ascZEkjF82aQB9',
                                      image: '/libs/assets/icon/mstile-310x310-circle.png',
                                      locale: 'auto',
                                      token: function(token) {
                                        // You can access the token ID with `token.id`.
                                        // Get the token ID to your server-side code for use.
                                      }
                                    });

                                    document.getElementById('customButton').addEventListener('click', function(e) {
                                      // Open Checkout with further options:
                                      handler.open({
                                        name: 'Shinobi Development',
                                        description: 'Support the development.',
                                        currency: 'cad',
                                        amount: 2000
                                      });
                                      e.preventDefault();
                                    });

                                    // Close Checkout on page navigation:
                                    window.addEventListener('popstate', function() {
                                      handler.close();
                                    });
                                    </script>
                                 </div>
                                <div class="jumbotron">
                                <h3 class="block-title question">All these are also donations in a way <i class="fa fa-smile-o"></i></h3>

                                <ul>
                                <li>Hit the star on <a href="https://github.com/ShinobiCCTV/Shinobi">Github</a>!</li>
                                <li>Spread the word!</li>
                                <li>Do bug reports in the <a href="//forum.shinobi.video">forum</a>.
                                </li>
                                <li>Checking out <a href="https://unmetered.online">UNMETERED</a> for goodies in IoT services.
                                </li>
                                <li>Watching, Commenting, and Subscribing to the <a href="https://www.youtube.com/watch?v=uwk4JLrPu9o&list=PL1dMbD_L-IDMNPeYJH-wWKrsVocRlY5B_">YouTube</a> videos</li>
                                </ul>

                                <p><em>Thanks for stopping by!</em></p>

                                <p>-Moe Alam</p>

                                <ul style="list-style:none;margin:0;padding:0;">
                                    <li><a href="http://discordapp.com/invite/mdhmvuH/"><i class="fa fa-comments"></i> Community Chat on Discord</a></li>
                                    <li><a href="//forum.shinobi.video"><i class="fa fa-commenting-o"></i> Shinobi Forum</a></li>
                                    <li><a href="https://www.youtube.com/watch?v=uwk4JLrPu9o&list=PL1dMbD_L-IDMNPeYJH-wWKrsVocRlY5B_"><i class="fa fa-youtube"></i> Videos on YouTube</a></li>
                                    <li><a href="https://twitter.com/ShinobiCCTV"><i class="fa fa-twitter"></i> Notes on Twitter</a></li>
                                    <li><a href="https://www.facebook.com/Shinobi-1223193167773738/?ref=bookmarks"><i class="fa fa-facebook"></i> News on Facebook</a></li>
                                    <li><a href="https://github.com/moeiscool/Shinobi"><i class="fa fa-github"></i> Code on Github</a></li></ul>
                                </div>
                            </section><!--//doc-section-->
                        </div><!--//content-inner-->
                </div><!--//doc-body-->              
            </div><!--//container-->
        </div><!--//doc-wrapper-->
    </div><!--//page-wrapper-->
<% include blocks/footer.ejs %>
</body>
</html> 

