<footer class="page__footer">
    <div class="page__container">
        <p class="sign-off text-center">
            Shinobi was created by Moinul (Moe) Alam.
            The code is licensed under <a href="https://github.com/moeiscool/Shinobi/blob/master/LICENSE">GPLv3</a>.
        </p>
    </div>
</footer>
<% include ../globalFooter.ejs %>