<style>
    #learn ul,#learn p{font-size:16pt}
    .form-element .form-group{}
    .form-element .form-group label{width:100%;display:flex}
    .form-element .form-group label div:nth-child(1){width:30%;}
    .form-element .form-group label div:nth-child(1) span{border-bottom:1px solid #ddd;display:block}
    .form-element .form-group label div:nth-child(2){width:70%;border-radius:5px;padding:5px;border:1px solid #ddd}
</style>
<header id="first" style="min-height:500px">
    <div class="_shade">
    <div class="header-content">
        <div class="inner">
            <img style="height:350px" src="/libs/assets/store-devices.png">
            <h1 class="cursive">Claim Your Rebate</h1>
            <h4 style="text-transform:uppercase">For Applicable Products Only</h4>
        </div>
        </div>
    </div>
</header>
<% include ../../blocks/subheader.ejs %>
<section id="learn">
<div class="container-fluid">
    <div class="content-wrapper">	
		<div class="item-container">
			<div class="container" style="padding-top:0px;padding-bottom:30px;">
                <div class="row">
                    <div class="col-md-6">
                        <h2 id="rebates" class="text-primary"><i class="fa fa-envelope text-danger"></i> Mail-In-Rebates</h2>
                        <p>If your order is applicable for a Mail-In-Rebate you may mail your purchase receipt to the address shown below If you would like to go green for your rebate you can fill out the electronic form to the right. <i class="fa fa-leaf text-success"></i></p>
                        <blockquote>
                            ShinobiCCTV c/o UNMETERED<br>
                            6360 Kingsway<br>
                            Burnaby, B.C. V5E1C5<br>
                            Canada
                        </blockquote>
                        <h2 class="text-primary"><i class="fa fa-check text-success"></i> Once you have been accepted</h2>
                        <p>Your rebate will be applied to the method used for payment. Rebate requests that have been found to be fraudulent will be discarded without notice.</p>
                    </div>
                    <div class="col-md-6">
                        <h2 class="text-primary"><i class="fa fa-leaf text-success"></i> Electronic Form</h2>
                        <form class="form-element" id="rebateForm">
                            <div class="form-group">
                                <label>
                                    <div><span>Order Number</span></div>
                                    <div><input class="form-control" name="orderID"></div>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <div><span>Name on Order</span></div>
                                    <div><input class="form-control" name="name"></div>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <div><span>Email</span></div>
                                    <div><input class="form-control" name="mail"></div>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <div><span>Address</span></div>
                                    <div><input class="form-control" name="address"></div>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <div><span>City</span></div>
                                    <div><input class="form-control" name="city"></div>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <div><span>Province / State</span></div>
                                    <div><input class="form-control" name="province"></div>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <div><span>Country</span></div>
                                    <div><input class="form-control" name="country"></div>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <div><span>Phone</span></div>
                                    <div><input class="form-control" name="phone"></div>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <div><span>Note</span></div>
                                    <div><textarea class="form-control" name="note"></textarea></div>
                                </label>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-block btn-default">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<script>
    $('#rebateForm').submit(function(ee){
        e={e:$(this)}
        e.submitButton=e.e.find('[type=submit]').removeClass('btn-default btn-success btn-danger')
        $.post('/shop/rebate',e.e.serialize(),function(d){
            if(d.ok===true){
                e.e.find('input,textarea').prop('disabled',true)
                e.submitButton.text('Sent! We will review your request!').addClass('btn-success')
                $('#rebateForm').unbind('submit').submit(function(e){return false;e.preventDefault()})
            }else{
                e.submitButton.text(d.msg).addClass('btn-danger')
            }
        })
        ee.preventDefault()
    })
</script>