<style>
    #learn ul,#learn p{font-size:16pt}
</style>
<header id="first" style="min-height:500px">
    <div class="_shade">
    <div class="header-content">
        <div class="inner">
            <img style="height:350px" src="/libs/assets/store-devices.png">
            <h1 class="cursive">Terms of Service</h1>
            <h4 style="text-transform:uppercase">Purchase Agreement for Hardware</h4>
        </div>
        </div>
    </div>
</header>
<% include ../../blocks/subheader.ejs %>
<section id="learn">
<div class="container-fluid">
    <div class="content-wrapper">	
		<div class="item-container">
			<div class="container" style="padding-top:0;padding-bottom:0;">
                <h2 class="text-primary">Terms &amp; Conditions</h2>
                <ul>
                <li>Please ask any questions you may have before purchasing.</li>
                <li>Packaging may have been opened to test operation status.</li>
                <li>Contact through email or live chat for record of correspondence.</li>
                </ul>
                <div id="shipping" style="margin-bottom:50px;"></div>
                <h2 class="text-primary">Shipping</h2>
                <ul>
                <li>Local Pickup requires prior notice and approval.</li>
                <li>Shipped within 24-48 Business Hours</li>
                <li>Undelivered or not picked up, due to buyer error, parcels will incur additional charges before item can be reshipped.</li>
                <li>We cannot ship to P.O. Boxes, Territories, Nunavut, Alaska, Hawaii, Puerto Rico, or Guam.</li>
                </ul>
                <div id="warranty" style="margin-bottom:50px;"></div>
                <h2 class="text-primary">Warranty</h2>
                <ul>
                <li>Depending on the item purchased warranty may not be handled by ShinobiCCTV Hardware division and will instead be handled by the manufacturer or third party. Unless otherwise stated warranty will be handled through manufacturers of the respective product.</li>
                    <li>Items can be only be replaced once original item has been returned. Buyer must pay for return shipping and shipping for the replacement unit.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</section>