<div id="ninja"  class="section-block">
    <h3 class="block-title question">The Ninja Way</h3>
    <h5>Ubuntu / Debian and CentOS / RHEL</h5>
<p>The easiest way to install, directly on metal, is through NPM.</p>
    <h5>Ubuntu / Debian</h5>
    <ol>
        <li><p>Download and Install Node.js, NPM, and wget (or curl).</p>
            <pre><code>sudo apt install nodejs npm wget -y</code></pre>
        </li>
    </ol>
    <h5>CentOS / RHEL</h5>
    <ol>
        <li><p>Download and Install Node.js, NPM, and wget (or curl).</p>
            <pre><code>sudo yum install nodejs npm wget -y</code></pre>
        </li>
    </ol>
    <h5>Install Shinobi</h5>
    <ol>
        <li>
            <p>Run the following to download and install Shinobi.</p>
            <pre><code>mkdir Shinobi
cd Shinobi
npm install shinobi
mv node_modules/shinobi/* .
npm start</code></pre>
        </li>
        <li>
            <p>Follow steps on screen.</p>
        </li>
        <li>
            <p>Enjoy!</p>
        </li>
    </ol>
</div>