<li>
    <a href="/docs">Docs Home</a>
    <ul class="nav doc-sub-menu">
        <li><a href="/">Home</a></li>
    <li><a href="/support">Support Packages</a></li>
    <li><a href="/metal">Cloud Hosting</a></li>
    <li><a href="/docs/faqs" title="Frequently Asked Questions">FAQs</a></li>
    <li><a href="/docs/api">API Access</a></li>
    <li><a href="/docs/credits">Credits</a></li>
    <li><a href="/docs/supported">Supported</a></li>
    <li><a href="/docs/donate">Donate</a></li>
    <li><a href="/docs/plugins">Plugins</a></li>
    <li><a href="/docs/motion">Motion</a></li>
    <li><a href="/docs/contribute">Contribute</a></li>
    <li><a href="/docs/settings">Settings</a></li>
    </ul>
</li>